[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "_vim/bundle/ack"]
	path = _vim/bundle/ack
	url = https://github.com/vim-scripts/ack.vim
[submodule "_vim/bundle/fuzzyfinder"]
	path = _vim/bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "_vim/bundle/l9"]
	path = _vim/bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "_vim/bundle/bufexplorer"]
	path = _vim/bundle/bufexplorer
	url = https://github.com/corntrace/bufexplorer.git
[submodule "_vim/bundle/taglist"]
	path = _vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
