[submodule "_vim/bundle/fuzzyfinder"]
	path = _vim/bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
    ignore = untracked
[submodule "_vim/bundle/bufexplorer"]
	path = _vim/bundle/bufexplorer
	url = https://github.com/corntrace/bufexplorer.git
    ignore = untracked
[submodule "_vim/bundle/taglist"]
	path = _vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
    ignore = untracked
[submodule "_vim/bundle/tcomment"]
	path = _vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
    ignore = untracked
[submodule "_vim/bundle/l9"]
	path = _vim/bundle/l9
	url = https://github.com/vim-scripts/L9.git
    ignore = untracked
[submodule "_vim/bundle/ack"]
	path = _vim/bundle/ack
	url = https://github.com/vim-scripts/ack.vim.git
    ignore = untracked
[submodule "_vim/bundle/visual_studio"]
	path = _vim/bundle/visual_studio
	url = https://github.com/jmnas/visual_studio.vim.git
    ignore = untracked
[submodule "_oh-my-zsh"]
	path = _oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
    ignore = untracked
[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/javascript"]
	path = _vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "_vim/bundle/jsx"]
	path = _vim/bundle/jsx
	url = https://github.com/mxw/vim-jsx.git
